DATABASE_URL="mysql+pymysql://root:Soidenvip123%40@localhost:3306/secure_learning_portal.db"
# ==============================
# JWT Security
# ==============================
SECRET_KEY=your-secret-key-here
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30